.journal-page {
    padding: 25px;
    background: #f5f6fa;
    min-height: 100vh;
}

/* Topbar */

.journal-topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-buttons button {
    margin-right: 10px;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
}

.edit-btn {
    background: #e5e7eb;
}

.action-buttons button {
    margin-left: 10px;
    padding: 6px 18px;
    border-radius: 20px;
    border: none;
}

.save {
    background: black;
    color: white;
}

.clear {
    background: #e5e7eb;
}

.cancel {
    background: white;
    border: 1px solid #ddd;
}

/* Form */

.journal-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-size: 13px;
    margin-bottom: 3px;
}

.field input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.full {
    width: 400px;
}

/* Table */

.journal-table-container {
    background: white;
    padding: 10px;
    border-radius: 6px;
}

.journal-table {
    width: 100%;
    border-collapse: collapse;
}

.journal-table th {
    background: #8fb39e;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
}

.journal-table td {
    border: 1px solid #ccc;
    padding: 4px;
}

.journal-table input {
    width: 100%;
    border: none;
    outline: none;
}

/* Bottom */

.journal-bottom {
    margin-top: 10px;
}

.print-btn {
    padding: 5px 12px;
}